.answer{
  font-size: 10rem;
  text-align: center;
  color: #fcedd8;
  font-family: 'Niconne', cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #c11a2b;
}

.hide-reveal {
  opacity: 0%;
}

.show-reveal {
  opacity: 100%;
}

.center-button {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  z-index: 100;
  font-size: 2rem;
}

#big-font {
  font-size: 2rem
}

#small-font {
  font-size: 1rem
}

.center-body {
  display: grid;
}

.center-button, .answer {
  grid-column: 1;
  grid-row: 1;
}