.answer{
  font-size: 10rem;
  text-align: center;
  color: #fcedd8;
  font-family: 'Niconne', cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #c11a2b;
}

.hide-reveal {
  opacity: 0%;
}

.show-reveal {
  opacity: 100%;
  color: #fff;
  background-color: #fd7e14;
  border-color: #fd7e14;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 1em;
  margin: 2em;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (min-width: 768px) {
  .main-body {
   width: 70%;
  }
 
  .side-col {
    width: 15%;
  }
 }
