.footer {
  text-align: center;
  margin-top: 2em;
}

.btn-link {
  font-weight: 400;
  color: #fff;
  text-decoration: underline;
}

/* starting at iPhone */
@media (min-width: 375px) {
  .footer-text {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }

  /* .calendar-save {
    width: 120%;
    display: flex;
    justify-content: space-around;
  } */
}

/* starting at ipad*/
@media (min-width: 768px) {
  .footer-text {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
  }
}
