.count-down-timer {
  padding-top: 35px;
}

.count-down-labels {
  display: flex;
}

.count-down-number {
  display: flex;
  justify-content: space-around;
}

.countdown-title {
  display: flex;
  justify-content: space-around;
  font-size: 60px;
}

.count-down-label {
  display: flex;
  justify-content: space-around;
}

.count-down-label {
  display: flex;
  justify-content: space-around;
}

.count-down-label {
  display: flex;
  justify-content: space-around;
}

.count-down-label {
  display: flex;
  justify-content: space-around;
}


/* starting at iPhone */
@media (min-width: 375px) {
  .time-labels {
    display: flex;
    justify-content: space-around;
    width: 25%
  }

  .time-values {
    display: flex;
    justify-content: space-around;
    width: 25%
  }

  .countdown-title {
    font-size: 125%;
  }
}

/* starting at ipad*/
@media (min-width: 768px) {
  .countdown-title {
    font-size: 150%;
  }

  .time-values {
    display: flex;
    justify-content: space-around;
    width: 25%
  }
}
